{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    {% if info %}
        {{ info }}
    {% endif %}

    <div class="search-form">

            <input type="text" placeholder="Youtube video id" name="link" class="link" id="link"/>
            <br/>
            <input type="button" value="Check!" class="send-link"/>

    </div>

    <div class="popup-window">
        <div class="popup-window-content">
            <span class="close-popup-window">X</span>
            <input type="text" placeholder="Enter category name" class="add-category-textbox link" id="category-add-text"/>
            <input type="button" class="add-video" id="add-category" value="Add!"/>
        </div>
    </div>


    <div class="append-information-wrapper">
    </div>

    <div class="sort-category-wrapper">
        <span class="sort-category">All</span>
        {% for category in  categories %}
            <span class="sort-category">{{ category.name }}</span>
        {% endfor %}
        <span class="add-category">+</span>
    </div>

    <div class="modal fade">

    </div>

    <div class="all-videos-wrapper">
        <div class="videos">
            {% if videos %}
                {% for video in videos %}
                    <div class="video" data-link="{{ video.link }}" id="{{ video.pk }}">
                        <p class="display-video-title">{{ video.title  }}</p>
                            <!--<p class="display-video-description">{{ video.description }}</p>-->
                        <img src="{{ video.thumb_url }}" width="300" alt="image"/>
                        <br/>
                        <a class="delete-video">Delete video</a>
                    </div>
                {% endfor %}

                {% else %}
                    <p>No videos found!</p>

            {% endif %}
        </div>
    </div>
    <div class="clearfix"></div>

    <script type="text/javascript">
        $( document ).ready(function() {
        function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
            $('.sort-category:first').addClass('active');


            $(".send-link").click(function(){
                var url = "{% url 'home' %}";
                var category_url = "{% url 'category_get_view' %}";
                var link = $('#link').val();
                if(!link.trim()){
                    alert("No link provided!");
                }
                link = getYoutubeIdFormUrl(link);
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {'link': link, 'isDBAdd': 'false'},
                    dataType: "json",
                    success: function(data){
                        var wrapper = $('.append-information-wrapper').empty();
                        var description = data.information.description;
                        var title = data.information.title;
                        var thumb_url = data.information.thumbnails.high.url;

                        wrapper.append(
                                '<p class = "video-title">' + title + '</p>'
                        );
{#                        wrapper.append(#}
{#                                '<p class = "video-description">' + description + '</p>'#}
{#                        );#}
                        wrapper.append(
                                '<img class = "video-thumbnail" width="400" src=' + thumb_url +' />'
                        );
                        wrapper.append(
                                '<input type="button" class="add-video" id="video-send" value="Add!" />'
                        );
                        wrapper.append(
                                '<input type="hidden" class="link" value=' + link + ' /><br/>'
                        );

                        $.ajax({
                            url: category_url,
                            type: "POST",
                            success: function (data) {
                                wrapper.append(data);
                            },
                            dataType: "html"
                        });
                        wrapper.fadeIn(1000);
                    }
                })
            });

            $('.append-information-wrapper').on('click', '#video-send', function(){
                var url = "{% url 'home' %}";
                var title = $('.video-title').text();
                var description = $('.video-description').text();
                var thumb_url = $('.video-thumbnail').attr('src');
                var selected = [];

                $('.category-checkbox:checked').each(function(){
                    selected.push($(this).attr("value"));
                });

                //For now you can add video only in one category
                if(selected.length > 1){
                    return;
                }
                if(selected.length == 0){
                    return;
                }

                var category = selected[0];


                var link = $("#link").val();
               // console.log(title + '\n' + description + '\n' + thumb_url + '\n' + link);
                  $.ajax({
                    url: url,
                    type: "POST",
                    data: {'title': title, 'description': description, 'thumb_url': thumb_url, 'link': link, 'isDBAdd': 'true', 'category': category},
                    success: function(data){
                        if(data=="false"){
                            return;
                        }
                        var wrapper = $('.videos');
                        var div = wrapper.append('' +
                        '<div class="video" data-link=' + link +' id ='+ data + '>' +
                                '<p class="display-video-title">' + title + ' </p>' +
                                '<img src=' + thumb_url + ' width="300" alt="image"/>' +
                                 '<br/><a class="delete-video">Delete video</a>' +
                                '</div>'
                        );
                        $('.append-information-wrapper').fadeOut(1000);
                    }
                })
            });
            $('.sort-category-wrapper').on('click', '.sort-category', function(){
                var category = $(this).text();
                $('.sort-category-wrapper .sort-category.active').removeClass('active');
                $(this).addClass('active');
                $('.all-videos-wrapper').hide().empty();
                var category_url = "{% url 'category_get_videos' %}";
                $.ajax({
                    url: category_url,
                    type: "POST",
                    data: {'category': category},
                    dataType: "html",
                    success: function(data){
                        $('.all-videos-wrapper').html(data).fadeIn(1000);
                    }
                })

            });
            $('.all-videos-wrapper').on('click', '.video img', function(){
                var that = $(this);
                var $parent = that.parent();
                var iframe = $('<iframe></iframe>', {
                    width: 600,
                    height: 500,
                    src: "http://www.youtube.com/embed/"+getYoutubeIdFormUrl($parent.data('link')) + "?autoplay=1",
                    frameborder: "no"
                });
                console.log(iframe);
                $modal = $('.modal');
                $modal.empty();
                var div = $("<div></div>", {
                   'class': 'modal-content'
                });
                div.append(iframe);
                $modal.append(div);
                $modal.modal();
            });

            $('.all-videos-wrapper').on('click', '.delete-video', function(){
                var id = $(this).parent().attr('id');
                var url = "{% url 'delete_video' %}";
                var self = $(this).parent();
                 $.ajax({
                     url: url,
                     type: "POST",
                     data: {'id': id},
                     success: function (data) {
                         self.hide(1000);
                     }
                 });
            });

            $('.link').on('click', function(){
                $(this).val("");
            });

            $('.add-category').on('click', function(){
                $('.popup-window').fadeIn(800);
            });

            $('.close-popup-window').on('click', function(){
                $('.popup-window').fadeOut(800);
            });

            $('#add-category').on('click', function(){
                var category_name = $('#category-add-text').val();
                var url = "{% url 'add_category_view' %}";
                  $.ajax({
                     url: url,
                     type: "POST",
                     data: {'category_name': category_name},
                     success: function (data) {
                         $('.sort-category:last').after(
                                 '<span class="sort-category">' + data + '</span>'
                         );
                     }
                 });
            });

             function getYoutubeIdFormUrl(url) {
                var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
                var match = url.match(regExp);
                if (match && match[2].length == 11) {
                    return match[2];
                } else {
                    //error
                }
            }
        });




    </script>

{% endblock %}